body {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 80px 0;
  font-family: Recursive, sans-serif;
  font-size: 28px;
  line-height: 32px;
  text-align: center;
  color: crimson;
  background-color: lightblue;
}

.animate-font {
  animation-name: font-flow;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;

  &.stagger1 {
    animation-duration: 4s;
    animation-delay: 1s;
  }

  &.stagger2 {
    animation-duration: 20s;
  }
}

.container {
  max-width: var(--container-width);
  margin: 0 auto;
}

img {
  max-width: 100%;
}

.item-bg {
  height: 100px;
  background-repeat: no-repeat;
  background-size: 100%;
  background-image: url("../img/jpeg.jpg");
}

@keyframes font-flow {
  0% {
    font-variation-settings: "wght" 1000, "MONO" 1, "CASL" 1, "CRSV" 1, "slnt" 0;
  }

  25% {
    font-variation-settings: "wght" 600, "MONO" 1, "CASL" 1, "CRSV" 1, "slnt" -10;
  }

  50% {
    font-variation-settings: "wght" 600, "MONO" 0.5, "CASL" 1, "CRSV" 1, "slnt" -10;
  }

  75% {
    font-variation-settings: "wght" 600, "MONO" 1, "CASL" 1, "CRSV" 1, "slnt" -10;
  }

  100% {
    font-variation-settings: "wght" 1000, "MONO" 1, "CASL" 1, "CRSV" 1, "slnt" 0;
  }
}
