@import "bootstrap/scss/functions";
@import "custom";
@import "bootstrap/scss/bootstrap";
@import "fonts";

body {
  position: relative;
  isolation: isolate;
  font-family: Recursive, Arial, sans-serif;

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url("../img/bg.svg");
    z-index: -1;
  }
}

.text-shadow-secondary {
  text-shadow: 1px 1px 4px $secondary;
}

.text-shadow-primary {
  text-shadow: 1px 1px 3px $primary;
}

.box {
  background-color: rgb(0 0 0 / 40%);
  backdrop-filter: blur(5px);
}

.hide-crollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}
