@import "bootstrap/scss/functions";
@import "./custom";
@import "bootstrap/scss/bootstrap";
@import "./fonts";

body {
  position: relative;
  isolation: isolate;
  font-family: Recursive, Arial, sans-serif;

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    background-color: $dark;
    background-repeat: repeat;
    background-size: 600px 600px;
    background-image: url("../img/topography.svg");
    z-index: -1;
  }
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.marquee {
  animation: 60s linear infinite backwards marquee;
}

.marquee-line {
  min-width: max-content;
}

.top-item-number {
  min-width: 4em;
}

.text-shadow-secondary {
  text-shadow: 1px 1px 4px $secondary;
}

.text-shadow-primary {
  text-shadow: 1px 1px 3px $primary;
}

.z-index-1 {
  z-index: 1;
}

.box {
  background-color: rgb(0 0 0 / 60%);
  box-shadow: 2px 2px 10px rgb(0 0 0 / 90%);
}

.ws-light {
  display: inline-block;
  width: 0.7em;
  height: 0.7em;
  border-radius: 50%;
  vertical-align: middle;
  box-shadow: inset 1px 1px 2px white;
  animation: 0.8s ease-in-out infinite alternate blink;
}

.animate-font {
  animation: 15s ease-in-out infinite animate-font;
}

@keyframes marquee {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-50%);
  }
}

@keyframes blink {
  0% {
    opacity: 50%;
  }

  80% {
    opacity: 100%;
  }

  100% {
    opacity: 100%;
  }
}

@keyframes animate-font {
  0% {
    font-variation-settings: "MONO" 0, "CASL" 0, "slnt" 0, "wght" 300;
  }

  12.5% {
    font-variation-settings: "MONO" 1, "CASL" 0, "slnt" 0, "wght" 300;
  }

  25% {
    font-variation-settings: "MONO" 0, "CASL" 0, "slnt" 0, "wght" 300;
  }

  37.5% {
    font-variation-settings: "MONO" 0, "CASL" 1, "slnt" 0, "wght" 300;
  }

  50% {
    font-variation-settings: "MONO" 0, "CASL" 0, "slnt" 0, "wght" 300;
  }

  62.5% {
    font-variation-settings: "MONO" 0, "CASL" 0, "slnt" -14, "wght" 300;
  }

  75% {
    font-variation-settings: "MONO" 0, "CASL" 0, "slnt" 0, "wght" 300;
  }

  87.5% {
    font-variation-settings: "MONO" 0, "CASL" 0, "slnt" 0, "wght" 1000;
  }

  100% {
    font-variation-settings: "MONO" 0, "CASL" 0, "slnt" 0, "wght" 300;
  }
}
